{% extends 'core/base.html' %}

{% block head_title %}Banking System{% endblock %}

{% block content %}
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
            <p class="font-bold">Error!</p>
            <p class="block sm:inline">{{ error }}</p>
        </div>
    {% endfor %}
{% endif %}
<div class="w-full max-w-md mx-auto p-6">
    <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
        <div class="p-4 sm:p-7">
            <div class="text-center">
                <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Sign in</h1>
                <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                    Don't have an account yet?
                    <a class="text-blue-600 decoration-2 hover:underline font-medium" href="{% url 'accounts:user_registration' %}">
                        Sign up here
                    </a>
                </p>
            </div>
            <div class="my-6">
                <form method="post">
                    <div class="grid gap-y-4">
                        {% csrf_token %}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <div>
                                <label class="block text-sm mb-2 dark:text-white" for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                </label>
                                <input class="py-3 px-4 block w-full border border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}

                        <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                            Sign in
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

