{% extends 'core/base.html' %}

{% block head_title %}Account no. {{ account.account_no }}{% endblock %}

{% block head_extra %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock %}

{% block content %}
    <div class="flex flex-col lg:flex-row justify-center px-4">

        <div class="flex flex-col border-2 border-blue-600 text-center shadow-xl rounded-xl p-8 dark:border-blue-700 mt-10 mr-4 lg:w-3/12 w-full h-fit">

            <article class="mb-8 inline-flex items-center gap-1.5 py-1.5 rounded-md text-xs uppercase font-semibold text-blue-800 dark:text-white">
                <span class="material-icons bg-blue-500 p-2 rounded-full">
                    account_balance_wallet
                </span>
                    <div class="ml-4">
                        <p class="text-xl font-bold text-gray-800 dark:text-gray-200">{{ account_type }}
                            account </p>
                        <p class="text-sm text-gray-500">{{ account_no }} </p>
                    </div>
            </article>
            <div class="flex flex-col border border-gray-200 text-center rounded-xl p-8 dark:border-gray-700">
                <p class="font-medium text-lg text-gray-800 dark:text-gray-200">
                    <span class="material-icons mr-4">
                        account_balance
                    </span> Current Balance:
                </p>
                {% if acc.account_type.is_loan %}

                    <p class="mt-5 font-bold text-2xl text-gray-800 dark:text-gray-200">{{ acc.repayment }}€
                        / {{ expected_repayment }}€</p>
                {% else %}
                    <p class="mt-5 font-bold text-2xl text-gray-800 dark:text-gray-200">{{ account_balance }}€</p>
                {% endif %}
            </div>

            {% if acc.account_type.is_debet_account %}
                <canvas id="myChart" height="300" class="my-4 p-2 bg-white rounded-md"></canvas>
                <div id="month-data"
                     class="flex flex-col border border-gray-200 text-center rounded-xl p-4 dark:border-gray-700">

                </div>
            {% endif %}

            {% if account_type.is_saving_account %}
                <div class="w-full my-6 ">
                    <div class="shadow w-full !bg-grey-500">
                        <div class="bg-blue-400 text-xs leading-none py-2 text-center text-white"
                             style="width: {{ saving_goal_fulfilment }}%">{{ saving_goal_fulfilment }}%
                        </div>
                    </div>
                </div>
                <div class="bg-grey-100 flex flex-row py-3 justify-between text-gray-800 dark:text-gray-200">
                    <p class="text-sm font-light">
                        Saving goal:
                    </p>
                    <p class="text-sm">
                        €{{ saving_goal }}
                    </p>
                </div>
                <div class="bg-grey-100 flex flex-row py-3 justify-between text-gray-800 dark:text-gray-200">
                    <p class="text-sm font-light">
                        Interest rate:
                    </p>
                    <p class="text-sm">
                        {{ interest_rate }}%
                    </p>
                </div>


            {% endif %}
            <div class="flex justify-center mt-3">
                <a href={% url 'transactions:transfer_money' %}>
                    <form method="get" action={% url 'transactions:transfer_money' %}>
                        <input type="hidden" name="account_id" value={{ account_no }}>
                        <button type="submit"
                                class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all dark:focus:ring-offset-gray-800">
                            Make transfer
                        </button>
                    </form>
                </a>
            </div>

        </div>
        <div class="lg:w-9/12 w-full">
            <div class="mt-7 sm:mt-12 mx-auto px-4 sm:px-6 lg:px-8 w-full relative">
                <form method="get">
                    <div class="relative z-10 flex space-x-3 p-3 bg-white border rounded-lg shadow-lg shadow-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:shadow-gray-900/[.2]">
                        <div class="flex-[1_0_0%]">
                            <input type="hidden" name="account_id" value={{ account_no }}>
                            <label for="search" class="block text-sm text-gray-700 font-medium dark:text-white"></label>
                            <input type="search" name="daterange" id="search" placeholder="Filter using date range"
                                   value="{{ request.GET.daterange }}"
                                   class="p-3 block w-full border border-transparent rounded-md focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:text-gray-400"
                            >
                        </div>
                        <div class="flex-[0_0_auto]">
                            <button type="submit" class="p-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                     stroke-width="2"
                                     viewBox="0 0 24 24" class="w-6 h-6">
                                    <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    {% if form.daterange.errors %}
                        {% for error in form.daterange.errors %}
                            <p class="text-red-600 text-sm italic">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>

            <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
                <div class="flex flex-col">
                    <div class="-m-1.5 overflow-x-auto">
                        <div class="p-1.5 w-full inline-block align-middle">
                            <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700 overflow-x-auto">
                                <!-- Header -->
                                <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700">
                                    <div>
                                        <p class="text-sm text-gray-600 dark:text-gray-400"> Last transactions of
                                            product
                                        <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">{{ account_type }}
                                            account</h2></p>
                                    </div>
                                    <div>
                                        <div class="inline-flex gap-x-2">
                                            <form method="get">
                                                <input type="hidden" name="account_id" value={{ account_no }}>
                                                <input type="hidden" name="transactions" value="all">
                                                <button class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
                                                        type="submit">All
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Header -->

                                <!-- Table -->
                                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                    <thead class="bg-gray-50 dark:bg-slate-900">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-left">
                                                <div class="flex items-center gap-x-2">
                                                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                                                    Date
                                                </span>
                                                </div>
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left">
                                                <div class="flex items-center gap-x-2">
                                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                                                        Status
                                                    </span>
                                                </div>
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left">
                                                <div class="flex items-center gap-x-2">
                                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                                                        Amount
                                                    </span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                                        {% for transaction in object_list %}
                                            <tr class="bg-white hover:bg-gray-50 dark:bg-slate-900 dark:hover:bg-slate-800">
                                                <td class="h-px w-px whitespace-nowrap px-6 py-2">
                                                    <p class="text-sm text-gray-600 dark:text-gray-400">
                                                        {{ transaction.timestamp.date }}
                                                    </p>
                                                </td>
                                                <td class="h-px w-px whitespace-nowrap px-6 py-2">
                                                    {% if transaction.get_transaction_type_display == "Transfer" %}
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            {{ transaction.get_transaction_type_display }}
                                                            {% if transaction.amount > 0 %}
                                                                from
                                                            {% else %}
                                                                to
                                                            {% endif %}
                                                            {{ transaction.account_to.user.first_name }} {{ transaction.account_to.user.last_name }}
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            {{ transaction.account_to.account_no }}
                                                        </p>

                                                    {% elif transaction.get_transaction_type_display == "Withdrawal" %}
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            {{ transaction.get_transaction_type_display }}
                                                        </p>
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            From ATM at Stare Grunty 53, Bratislava 4
                                                        </p>
                                                    {% elif transaction.get_transaction_type_display == "Deposit" %}
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            {{ transaction.get_transaction_type_display }}
                                                        </p>
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            At local bank
                                                        </p>
                                                    {% elif transaction.get_transaction_type_display == "Deposit to SA" %}
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            {{ transaction.get_transaction_type_display }}
                                                        </p>
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            At local bank
                                                        </p>
                                                    {% elif transaction.get_transaction_type_display == "Withdrawal from SA" %}
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            {{ transaction.get_transaction_type_display }}
                                                        </p>
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            From ATM in Aupark Shopping Centre
                                                        </p>
                                                    {% elif transaction.get_transaction_type_display == "Interest" %}
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            {{ transaction.get_transaction_type_display }}
                                                        </p>
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            Interest payment from bank to your saving account
                                                        </p>
                                                    {% elif transaction.get_transaction_type_display == "Loan" %}
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            {{ transaction.get_transaction_type_display }}
                                                        </p>
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            Money transfered from bank to your account after
                                                            creating new loan
                                                        </p>
                                                    {% elif transaction.get_transaction_type_display == "Repayment to bank" %}
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            {{ transaction.get_transaction_type_display }}
                                                        </p>
                                                        <p class="text-sm text-gray-600 dark:text-gray-400">
                                                            Loan repayment
                                                        </p>
                                                    {% endif %}
                                                </td>

                                                <td class="h-px w-px whitespace-nowrap px-6 py-2">
                                                    <p class="text-sm text-gray-600 dark:text-gray-400">
                                                        {{ transaction.amount }}€
                                                    </p>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- End Table -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="p-4 flex gap-4 max-sm:flex-col">
        {% for account in accounts %}
            <form class="flex flex-col border-2 border-blue-600 text-center shadow-xl rounded-xl p-8 dark:border-blue-700 mt-10 md:w-6/12 lg:w-3/12 max-sm:w-full"
                  method="get" action="/transactions/report">
                <button class="text-white font-bold py-2 px-4 rounded"
                        type="submit">
                    <input type="hidden" value={{ account.account_no }} name="account_id">
                    <article class="flex items-start gap-4 ">
                                 <span class="material-icons bg-blue-500 p-2 rounded-full">
                                        {% if account.account_type.is_saving_account %}
                                            savings
                                        {% elif account.account_type.is_debet_account %}
                                            payments
                                        {% endif %}
                                    </span>
                        <div class="text-left">
                            <p class="text-sm text-gray-800 dark:text-gray-200">{{ account.account_type }}
                                account </p>
                            <p class="text-2xl font-medium text-green-400">
                                {% if account.account_type.is_saving_account %}
                                    {{ account.balance }}€
                                {% elif account.account_type.is_debet_account %}
                                    {{ account.balance }}€
                                {% elif account.account_type.is_loan %}
                                    {{ account.repayment }}€
                                {% endif %}
                            </p>

                        </div>
                    </article>

                    {% if account.account_type.is_saving_account %}
                        <div class="w-full">
                            <div class="border border-gray-200 text-center rounded-xl dark:border-gray-700">
                                <div class="bg-blue-400 text-xs leading-none py-2 text-center text-gray-800 dark:text-gray-200 border border-gray-200 rounded-xl p-4 dark:border-gray-700"
                                     style="width: {{ saving_goal_fulfilment }}%">{{ saving_goal_fulfilment }}%
                                </div>
                            </div>
                        </div>
                        <div class="bg-grey-100 flex flex-row py-3 justify-between">
                            <p class="text-sm font-light text-gray-800 dark:text-gray-200">
                                Saving goal:
                            </p>
                            <p class="text-sm text-gray-800 dark:text-gray-200">
                                {{ account.saving_goal }}€
                            </p>
                        </div>


                    {% endif %}

                </button>
            </form>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        function drawReport(spent, earned, total, month) {
            $("#month-data").empty();
            $("#month-data").append(`<p class='font-medium text-lg text-gray-800 dark:text-gray-200'>${month}</p>`);
            $("#month-data").append(`<p class='text-2xl font-medium text-gray-800 dark:text-white'> € ${earned.toFixed(2)}</p>`);
            $("#month-data").append(`<p class='text-2xl font-medium text-gray-800 dark:text-white'> € ${(-spent).toFixed(2)}</p>`);
            if (total > 0) {
                $("#month-data").append(`<p class="text-2xl font-medium text-green-400">€ ${total.toFixed(2)}</p>`);
            } else {
                $("#month-data").append(`<p class="text-2xl font-medium text-red-400">€ ${total.toFixed(2)}</p>`);
            }
        }

        fetch('/transactions/report/data/?account_id='.concat({{ account_no }}))
            .then(response => response.json())
            .then(data => {
                const ctx = document.getElementById('myChart').getContext('2d');

                const labels = data["labels"]
                drawReport(parseFloat(data["negative_transactions"][4]), parseFloat(data["positive_transactions"][4]),
                    parseFloat(data["positive_transactions"][4]) - parseFloat(data["negative_transactions"][4])
                    , labels[4])

                const chart_data = {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Vydavky',
                            data: data["negative_transactions"],
                            borderColor: 'rgb(255, 99, 132)',
                            borderRadius: 5,
                            borderWidth: 2,
                            backgroundColor: 'rgba(255, 99, 132, 0.5)',
                            borderSkipped: false,

                        },
                        {
                            label: 'Prijmy',
                            data: data["positive_transactions"],
                            borderColor: 'rgb(54, 162, 235)',
                            borderRadius: 5,
                            borderWidth: 2,
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderSkipped: false,

                        }
                    ]
                };

                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: chart_data,
                    options: {
                        onClick: function (evt, elements, chart) {
                            const bars = chart.getElementsAtEventForMode(evt, 'nearest', {intersect: true}, true);
                            if (bars.length === 0) return; // no bars

                            const bar = bars[0];
                            // Get index and label text
                            const index = bar.index;
                            const earned = parseFloat(chart.data.datasets[1].data[index])
                            const spent = parseFloat(chart.data.datasets[0].data[index])
                            const total = earned - spent;

                            drawReport(spent, earned, total, chart.data.labels[index])

                        },

                        scales: {
                            x: {
                                border: {
                                    display: false
                                },
                                grid: {
                                    display: false,
                                }
                            },
                            y: {
                                display: false,
                                border: {
                                    display: false
                                },
                                grid: {
                                    display: false
                                },
                            }
                        },

                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: false,
                                text: 'Transaction Statistics'
                            }
                        }
                    },

                });
            })
            .catch(error => console.error('Error:', error));

    </script>

{% endblock %}

{% block footer_extra %}
    <script type="text/javascript">
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: "Clear",
                },
            });

            $('input[name="daterange"]').on("apply.daterangepicker", function (ev, picker) {
                $(this).val(picker.startDate.format("YYYY-MM-DD") + " - " + picker.endDate.format("YYYY-MM-DD"));
            });

            $('input[name="daterange"]').on("cancel.daterangepicker", function (ev, picker) {
                $(this).val("");
            });
        });
    </script>
{% endblock %}
